<div class="Navbar">
  <button routerLink="/" class="homebtn">Home</button>
  <div class="dropdown">
    <button (click)="changeOpen()" class="dropbtn">
      Menu
      <div class="down"></div>
    </button>
    <div class="{{ menu }}">
      <a (click)="changeOpen()" class="dropdown-content" routerLink="/results"
        >Results</a
      >
      <a (click)="changeOpen()" class="dropdown-content" routerLink="/winner"
        >Winner</a
      >
      <a (click)="changeOpen()" class="dropdown-content" routerLink="/info"
        >Info</a
      >
    </div>
  </div>
</div>
